{% extends 'base.html' %}

{% block meta_title %}Veranstaltungen{% endblock %}

{% block title %}Veranstaltungen{% endblock %}

{% block content %}
    <p class="pull-right text-muted">
        <a href="feed.ics">
            <i class="glyphicon glyphicon-calendar"></i> iCal Download
        </a>
    </p>

    {% for event in events %}
        <h3 class="page-header">{{ event.name }}</a></h3>
        <p class="text-muted">{{ event.description }}</p>
        <p>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ event.match_date | date:'d.m.Y' }}
            <span class="text-muted">{{ event.organizer }}</span>
        </p>
        <p>
            <b>Schützenmeister:</b> {{ event.supervisor | default:"N.N." }}
        </p>
        {% if event.results.count > 0 %}
        <p><a href="{% url 'result_detail' pk=event.id %}">Resultate</a></p>
        {% endif %}
    {% endfor %}
    <a href="all">Alle Veranstaltungen anzeigen</a>
{% endblock %}