{% extends 'base.html' %}

{% block title %}Anlässe PSN{% endblock %}

{% block content %}
    <h2>Alle Anlässe und Wettkämpfe</h2>

    {% for event in events %}
        <h3 class="page-header"><a href="/events/{{ event.id }}/">{{ event.name }}</a></h3>
        <p class="text-muted">{{ event.description }}</p>
        <p>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ event.match_date | date:'d.m.Y' }}
            <span class="text-muted">{{ event.organizer }}</span>
        </p>
        <p>
            <b>Schützenmeister:</b> {{ event.supervisor | default:"N.N." }}
        </p>
        {% if event.results.count > 0 %}
        <p><a href="{% url 'result_detail' event_id=event.id %}">Resultate</a></p>
        {% endif %}
    {% endfor %}
{% endblock %}
